<h1>movie info</h1>

<%= link_to 'Edit', edit_movie_path(@movie) %>

<p><%= @movie.title %></p>
<p><%= @movie.release_date %></p>
<p><%= @movie.synopsis %></p>
<p><%= @movie.country %></p>
<p><%= @movie.length %></p>
<p><%= @movie.director.name %></p>
<p><%= @movie.genre.name %></p>

<h3>directed by</h3>
<p><%= link_to @movie.director.name, director_path(@movie.director.id) %></p>