<h1>director info</h1>

<%= link_to 'Edit', edit_director_path %>

<p> <%= @director.name %> </p>
<p> <%= @director.nationality %> </p>
<p> <%= @director.dob %> </p>
<p> <%= @director.genre.name %> </p>